altgraph==0.17
asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
clipboard==0.0.4
Django==3.1.12
docutils==0.16
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.9.25
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
keyboard==0.13.5
Kivy==1.11.1
Kivy-Garden==0.1.4
lxml==4.6.5
plyer==1.4.3
Pygments==2.7.4
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyperclip==1.8.0
pytz==2020.1
requests==2.24.0
rfc3986==1.4.0
sniffio==1.1.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.26.5
