beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
clipboard==0.0.4
docutils==0.16
idna==2.10
keyboard==0.13.5
Kivy==1.11.1
Kivy-Garden==0.1.4
lxml==4.5.2
plyer==1.4.3
Pygments==2.6.1
pyperclip==1.8.0
requests==2.24.0
soupsieve==2.0.1
urllib3==1.25.10
